
body{
  background-color: #FFFAF0;
}

.rotate {
  transform: rotate(90deg);
}

.recimages{
  position: relative;
  width: 50%;
}
.recimages img{
  width:50%;
  height: auto;
}
.recimages .btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.recimages .btn:hover {
  background-color: black;
}

#logo {
  display: inline;
  text-align: center;
  border-radius: 15px;
}

header {
  text-align: center;
  letter-spacing: 1px;
  height: 8em;
  padding: 2em 10%;
}

.figure {
  vertical-align: middle;
}

.mybutt {
  font-family:cursive;
}
